variable cloudflare_token { default = "abcd1234" }
variable cloudflare_email { default = "me@me.com" }
variable cloudflare_zone_name { default = "example.com" }
variable zone_name { default = "gcp.example.com" }
variable project { default = "gcp-project-118423" }
variable admin_cidrs { default = "1.2.3.4/32" }
variable ssh_public_key { default = "ssh-rsa blah" }
